<b><%= @title %></b>
<br><br>
<% @datas.each do |data| %>
    <tr>
         <td><a href="/connections/show?username=<%= data.username %>"><%= data.username %></a></td>
    </tr>
    <br>
    <tr>
         <td><a href="/connections/show?protocol=<%= data.protocol %>"><%= data.protocol %></a></td>
    </tr>
    <br>
    <tr>
         <td><a href="/connections/show?source_ip=<%= data.source_ip %>"><%= data.source_ip %></a> - <a href="/connections/show?remote_ip=<%= data.remote_ip %>"><%= data.remote_ip %></a></td>
    </tr>
    <br>
    <tr>
         <td> Started: </td>
         <td><%= data.connection_started_time.strftime('%H:%M:%S (%A, %e %B %Y)') %></td>
    </tr>
    <br>
    <tr>
         <td> Ended: </td>
         <td><%= data.connection_ended_time.strftime('%H:%M:%S (%A, %e %B %Y)') %></td>
    </tr>
    <br>
    <tr>
         <td> Duration: </td>
         <% time = data.connection_ended_time - data.connection_started_time %>
         <td><%= "#{(time/3600).to_int} hour(s) #{(time/60%60).to_int} minute(s) #{(time%60).to_int} second(s)" %></td>
    </tr>
    <br><br> 
<% end %>
